config/config.ini
data/sounds/*
!data/sounds/.gitkeep
data/originals/*
!data/originals/.gitkeep
data/temp/*
!data/temp/.gitkeep
node_modules/
dist/
coverage/
*.log
.env
.env.local
.env.production
.env.development
.env.staging
.eslintcache
.vscode/
